/* Police Reservia
    Classique
    Bold
    Light
*/

@font-face 
{
    font-family: 'Policereservia';
    src: url(Police/static/Raleway-Regular.ttf);
}

@font-face 
{
    font-family: 'Policereserviabold';
    src: url(Police/static/Raleway-Bold.ttf);
}

@font-face 
{
    font-family: 'Policereservialight';
    src: url(Police/static/Raleway-Light.ttf);
}


/* Globals et ASPECT GENERAL */

*
{
    box-sizing: border-box;
    margin: 0;
}
body
{
    font-family: 'Policereservia';
}
h1
{ 
    font-family: 'Policereserviabold';
}
h2
{
    font-family: 'Policereserviabold';
    font-size: 100%;
}
h3
{
    font-family: 'Policereservialight';
    font-size: 100%;
    margin: 5px 0 0 0;
}
strong
{
    font-family: 'Policereserviabold';
}
span
{
    font-family: 'Policereserviabold';
}
a
{
    text-decoration: none;
    color: black;
}

ul
{
    text-decoration: none;
}


/* ICONES STARS */

.greystars
{
    display: flex;
    color: rgb(200, 200, 200);
}
.bluestars
{
    display: flex;
    color: #0065FC;
    margin-right: 2px;
}
.stars
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}


/* HEADER  */
header
{
    margin: 0 2% 0 2%;
}
/* Nav header */

.inscription
{
    font-family: 'Policereserviabold';
    color: #0065FC;
}

@media screen and (min-width:601px)
{
    .mobile
    {
        display: none ;   
    }
 
    .desktop
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .logo
    {
        width: 250px;
        height: 150px;
    }
    .menunavdesktop
    {
        display: flex;
        justify-content: flex-end;
    }
    .menunavdesktop a
    {
        padding: 10% 5% 5% 5%;
    }

    .desktop a:hover
    {
        border-top: solid 3px #0065FC;
        transition: 0.2s;
    }


}


@media screen and (max-width: 600px)
{
    .desktop
    {
    display: none;
    }

    .mobile
    {
        display: flex;
        flex-direction: column;
    }

    .logoinscriptionmobile
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo
    {
        width: 150px;
        height: 75px;
    }

    .inscription
    {
        padding: 2%;
    }

    .inscription:hover
    {
    border-top: solid 3px #0065FC;
    }

    .menunavmobile
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menunavmobile a 
    {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .menunavmobile a:hover
    {
        border-bottom: solid 3px #0065FC;
    }

}


        /* SECTION HEADER */

/* BARRE DE RECHERCHE  */

.barrerecherche
{
    width: 100%;
    display: flex;
    max-width: 500px;
    min-width: 300px;
    margin: 15px 0 0 0;

}

#iconlocalisation
{
    background-color: rgb(242, 242, 242);
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em 0 0 1em;
    min-height: 50px;
    min-width: 50px;
}

.search
{
    border: solid;
    font-family: 'Policereserviabold';
    font-size: medium;
    padding-left: 20px ;
    border-color: rgb(242, 242, 242);
    height: 50px;
    color: black;
}

    /* MEDIA QUERY BOUTTON RECHERCHE */

    @media screen and (min-width:426px)
    {
        .search
        {
            width: 65% ;      
        }

        #iconsearch
        {
            display: none;
        }
        .recherche
        {
        font-family: 'Policereserviabold';
        color: white;
        background-color: #0065FC;
        border-radius: 0 11px 11px 0;
        height: 50px;
        border: none;
        width: 30%;
        }
        
    }

    @media screen and (max-width:425px)
    {
        .search
        {
            width: 70%;
        }
        .recherche
        {
            display: none;
        }
        #iconsearch
        {
            display: flex;
            color: white;
            background-color: #0065FC;
            border-radius: 0 11px 11px 0;
            width: 65px;
            height: 50px;
            border: none;
            align-items: center;
            justify-content: space-around;
        }
    }



/* DIV FILTRE */

/* Aspect général barre filtre */

.barrefiltre
{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    margin: 10px 0 10px 0;
}

.barrefiltre ul
{
    width: 90%;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
}

.barrefiltre ul li
{
    display: flex;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    border-color: rgb(242, 242, 242);
    border-radius: 2em 2em 2em 2em;
    margin: 10px 10px 10px 10px;
    height: 50px;
}
.barrefiltre ul li:hover
{
    flex-direction: row-reverse;
    border-right: none;
    border-left: solid rgb(242, 242, 242);
    box-shadow: 0px 10px 13px -7px #0065FC, 8px 8px 14px 1px #DEEBFF;
}

.barrefiltre ul li i
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 2em 2em 2em 2em;   
    margin: 0;
    padding: 2%;
}
.barrefiltre ul li input
{
    font-family: 'Policereserviabold';
    border-radius: 2em 2em 2em 2em;
    color: #0065FC;
    background-color: white;
    border: none;
    display: flex;
    justify-content: space-around;
}


    /* MEDIA ALIGNEMENT BARRE FILTRE */

/* BARRE D'INFOS */

 .barreinfo
 {
     border: 0.5px;
     display: flex;
     justify-content: flex-start;
     align-items: center; 
 }

 .rondinfo
 {
     display: flex;
     align-items: center;
     justify-content: center;
     border: solid;
     border-radius: 2.5em 2.5em 2.5em 2.5em;
     padding: 7px 7px 7px 7px;
     width: 35px;
     margin-right: 1%;
     border-color: rgb(242, 242, 242);
     
 }
 #iconinfo
 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #0065FC;

 }



/* GESTION ASIDE ARTICLE */ 


.ligne1
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}



/* ARTICLE HEBERGEMENT*/


#hebergement
{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    justify-content: space-around;
    border-radius: 18px 18px 18px 18px;
    width: 65%;
    padding: 1%;
    margin: 1%;
}

    /* MEDIA BACKGROUND/ALIGNEMENT/SHADOWS HERBERGEMENT */

    @media screen and (max-width:425px)
    {
        #hebergement
        {
        margin: 5px 0 5px 0;
        }

    }

    @media screen and (min-width: 426px)
    {
        #hebergement
        {
            background-color: rgb(242, 242, 242);
        }    
    }



    @media screen and (max-width: 1542px)
    {
        #hebergement
        {
        width: 100%;  
        }
    }



#hebergement h2
{
    margin: 10px 0 20px 10px;
}
.orgahebergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vignettehebergement
{
    background-color: white;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding: 0.5%;
    width: 30%;
    min-width: 300px;
    max-height: 200px;
    margin: 2% 0 2% 0;
    box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.3);
    
}

 /* PHOTO CONTENT HEBERGEMENT SIZING */

.photo
{
    display: flex;
    justify-content: center;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 18px 18px 0 0;
    width: 100%;
    height: 70%;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
    width: 90%;
    padding: 0;
    margin: 0;
}

.content h3
{
    margin: 0;
    padding: 0;
}



/* ASIDE LES PLUS POLULAIRES */

aside
{
    display: flex;
    background-color: rgb(242, 242, 242);
    border-radius: 18px 18px 18px 18px;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;
    padding: 1%;
    margin: 1%;
}
    /* MEDIA DISPOSITION ASIDE */ 

    @media screen and (max-width: 1542px)
    {
        aside
        {
            flex-wrap: wrap;
        }
    }

    @media screen and (min-width: 1543px)
    {
            aside
        {

            flex-direction: column;

            
        }
    }

.vignettepopulaire
{
    height: 25%;
    width: 100%; 
    max-width: 400px;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: content-box;
    justify-content:space-between ;
    background-color: white;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    margin: 1%;
    box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.3);
}

.titrepop
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2% 0 2%;
}

.photopopulaire
{
    display: flex;
    object-fit: cover;
    image-rendering: pixelated;
    align-items: center;
    justify-content: center;
    border-radius: 18px 0 0 18px;
    width: 45%;
    max-width: 170px;
    height: 100%;

}

.content2
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 55%;
    padding: 2%;
}
.content2 h3
{
    margin: 0;
}




/* ARTICLE ACTIVITE */



#activite
{
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.titreactivite
{
    margin-left: 1%;
}
.orgaactivite
{
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0 10px 0;
}


.vignetteactivitesolo strong, .vignettemoyenne strong, .vignettepetite strong
{
    padding: 1% 1% 1% 2%;
}

.vignetteactivitesolo
{
display: flex;
flex-direction: column;
justify-content: space-around;
border-radius: 18px;
box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.3);
margin: 5px;
}

.vignetteactivitecompose
{
    display: flex;
    box-sizing: content-box;
}

.vignettemoyenne, .vignettepetite
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.3);
}
    /* MEDIA QUERY ADAPTATION VIGNETTE ACTIVITE SCREEN */

    @media screen and (min-width: 1310px) 
    {
        .vignetteactivitesolo
        {
            height: 500px;
            width: 20%;
            min-width: 300px;

        }

            .vignetteactivitecompose
        {

            flex-direction: column;
            justify-content: space-between;
            height: 500px;
            width: 20%;
            min-width: 300px;
            margin: 5px;
        }
        .vignettemoyenne
        {
            height: 250px;
        }

        .vignettepetite
        {
            height: 150px;
            padding-bottom: 10px;
        }

        .photoactivite1
        {
            object-fit: cover;
            image-rendering: pixelated;
            width: 100%;
            height: 95%;
            border-radius: 18px 18px 0 0;
        }
        .photoactivite2
        {
            object-fit: cover;
            image-rendering: pixelated;
            width: 100%;
            height: 90%;
            border-radius: 18px 18px 0 0;
        }

    }

    @media screen and (max-width: 1309px) 
    {

        .vignetteactivitesolo
        {
            box-sizing: content-box;
            max-width: 350px;
            min-width: 300px;
            padding-bottom: 10px;
        }

        .vignetteactivitecompose
        {
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 5px;
        }

        .vignettepetite, .vignettemoyenne
        {
            height: 150px;
            max-width: 350px;
            min-width: 300px;
            margin: 5px;
            padding-bottom: 15px;

        }

        .photoactivite2, .photoactivite1
        {
            object-fit: cover;
            image-rendering: pixelated;
            width: 100%;
            height: 90%;
            max-height: 120px;
            border-radius: 18px 18px 0 0;
        }

    }




/* FOOTER */

footer
{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    background-color: rgb(242, 242, 242);
}
@media screen and (min-width: 1108px) 
{
    footer
    {
    justify-content: flex-start;
    }

}

@media screen and (max-width: 1107px)
{
    footer
    {
        justify-content: space-around;
    }
}

footer h2
{
    padding-bottom: 5px;
    margin: 0;
}
footer a
{
    font-family: 'Policereservialight';
    font-size: 80%;;
    margin: 5px 0 5px 0;
}

.fapropos, .fhebergement, .fassistance
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1%;
    margin: 1% 2% 1% 2%;
    width: 20%;
    min-width: 200px;

}

.hrefapropos, .hrefhebergement, .hrefassistance
{
    display: flex;
    flex-direction: column;
}